<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no" charset="UTF-8">
        <title>Equivalêcia forte de programas</title>

        <link rel="stylesheet"
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/programa.css' %}">
    </head>
    <body>
        <div>
            <form method="post">
                <div class="container-fluid">
                    {% csrf_token%}
                    <div class="col-md-12">
                        <h1 class="title">Equivalêcia forte de programas</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Programa 1<a href="#" class="badge
                                    badge-pill badge-primary">Info</a></h4>
                            <textarea class="form-control textArea"
                                id="entrada1" name="entrada1"></textarea>
                        </div>
                        <div class="col-md-4">
                            <h4>Programa 2<a href="#" class="badge
                                    badge-pill badge-primary">Info</a></h4>
                            <textarea class="form-control textArea"
                                id="entrada2">{{ resultado }}</textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="basic-label" rows="10" cols="30">Resultado</label>
                        <p class="form-control textArea" id="resultado"></textarea>
                    </div>
                    <div class="col-md-12 ml-md-auto">
                        <button class="btn btn-success btn-lg btn-block"
                            type="submit">Calcular</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>